{{#foreach posts visibility="all" limit="1"}}
<section class="hero">
    <div class="hero-body">
        <figure class="hero-image-container">
            <a href="{{url}}">
                <img class="hero-image" 
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 750w,
                            {{img_url feature_image size="l"}} 900w"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{title}}">
            </a>
        </figure>    
        <div class="hero-text">
            <span class="hero-title"><a href="{{url}}">{{title}}</a></span>
            <span class="hero-blurb">
                {{#if meta_description}}
                    {{meta_description}}
                {{else}}
                    {{excerpt}}
                {{/if}}
            </span>
            <span class="hero-byline">{{authors separator=" &amp; "}}</span>
            <div class="hero-meta">
                <span class="hero-tags">
                {{#foreach tags}}<span class="tag"><a href="/{{slug}}/">{{name}}</a></span>{{/foreach}}
                {{#has visibility="paid"}}
                    <span class="tag member">Members Only</span>
                {{/has}}
                </span>
                <div class="hero-published">
                    {{date published_at format="MMMM DD, YYYY"}}
                </div>
            </div>
        </div>
    </div>
</section>
{{/foreach}}