{{!< default}}
        </div>
    </div>
</nav>
<div class="main-container homepage">
    <!-- Normal Articles -->
    <section class="articles">
        {{#foreach posts visibility="all"}}
        <div class="article">
            {{#if feature_image}}
            <figure class="article-image-container">
                <img class="article-image" 
                    srcset="{{img_url feature_image size="xs"}} 750w,
                            {{img_url feature_image size="s"}} 1023w,
                            {{img_url feature_image size="m"}} 1200w"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{title}}">
            </figure>
            {{/if}}
            <div class="article-text">
                <span class="article-title"><a href="{{url}}">{{title}}</a></span>
                <span class="article-blurb">
                    {{#if meta_description}}
                        {{meta_description}}
                    {{else}}
                        {{excerpt}}
                    {{/if}}
                </span>
                <span class="meta">
                    <span class="article-byline">{{authors separator=" &amp; "}}</span>
                </span>
                <span class="article-tags">
                {{#foreach tags}}<span class="tag">{{name}}</span>{{/foreach}}
                {{#has visibility="paid"}}
                    <span class="tag member">Members Only</span>
                {{/has}}
            </span>
            </div>
        </div>
        {{/foreach}}
        {{pagination}}
    </section>
    {{> sidebar}}
</div>